{% extends "::base.html.twig" %}

{% block title %}AppBundle:aplicacion:visualizacionofertas{% endblock %}

{% block body %}
<h1>Welcome to the aplicacion:visualizacionofertas page</h1>
{% endblock %}
